button{
    background-color: blueviolet;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(61, 12, 107);
}